<h1>CPONTO draft</h1>
<h2><%= @ano %> / <%=  t('date.month_names')[@mes] %></h2>

<%= link_to('Mês anterior', calcula_ponto_url(@ano_ant, @mes_ant)) %>
//
<%= link_to('Próximo mês', calcula_ponto_url(@ano_prox, @mes_prox)) %>

<table border=1>
	<tr>
		<th>Dia</th>
		<th>Entrada m</th>
		<th>Saida m</th>
		<th>Entrada t</th>
		<th>Saida t</th>
	</tr>
	<tbody>
	<%- for dia in @dias do %>
	<tr>
		<td><%= dia.dia.day %></td>
		<%- if dia.fim_de_semana? %>
			<td colspan="4"><%=t('date.weekend')%></td>
		<%- else %>
			<td><%= dia.entrada_manha %></td>
			<td><%= dia.saida_manha %></td>
			<td><%= dia.entrada_tarde %></td>
			<td><%= dia.saida_tarde %></td>
		<%- end %>
	</td>
	<%- end %>
	</tbody>
</table>

