%section.content

	%h1= t 'ponto.titulo'

	%h2= "#{@ano} / #{t('date.month_names')[@mes]}"

	.header-link
		=link_to(t('ponto.mes_anterior'), calcula_ponto_url(@ano_ant, @mes_ant))
		='|'
		-if mes_atual?
			=t('ponto.mes_atual')
		-else
			=link_to(t('ponto.mes_atual'), root_url)
		='|'
		=link_to(t('ponto.mes_proximo'), calcula_ponto_url(@ano_prox, @mes_prox))

	%table
		%tr
			%th= t 'ponto.dia'
			%th _
			%th{class:'horario'}= t 'ponto.entrada_manha'
			%th{class:'horario'}= t 'ponto.saida_manha'
			%th{class:'horario'}= t 'ponto.entrada_tarde'
			%th{class:'horario'}= t 'ponto.saida_tarde'
		%tbody
		-for dia in  @dias do
			%tr
				%td= dia.dia.day
				%td= t('date.abbr_day_names')[dia.dia.wday]
				- if dia.holiday?(@locale) and dia.fim_de_semana?
					%td{colspan: 4, class: 'holiday'}= dia.holiday(@locale)[:name]
				- elsif dia.fim_de_semana?
					%td{colspan: 4, class: 'weekend'}= t('date.weekend')
				- elsif dia.holiday?(@locale)
					%td{colspan: 4, class: 'holiday'}= dia.holiday(@locale)[:name]
				- else
					%td= dia.entrada_manha
					%td= dia.saida_manha
					%td= dia.entrada_tarde
					%td= dia.saida_tarde

.footer
	-if embromation?
		%span{class: 'embromation-on'} embromation-mode:  <strong>ON</strong>
	-else
		%span{class: 'embromation-off'} embromation-mode:  <strong>OFF</strong>

	-for loc in I18n.available_locales.shuffle
		-if current_locale == loc
			=image_tag("flag_#{loc}.png")
		-else
			=link_to(image_tag("flag_#{loc}.png"), atualiza_locale_url(loc), data: { confirm: t('ponto.trocar_locale', locale: loc) }, method: 'post')

